
<html lang="pt-br">
	<head>
		<meta charset="utf-8"/>
		<title>Noticias</title>
	</head>
<body>

	<h1>Noticia</h1>

	<table>
		<tr>
			<td>id</td>
			<td>Titulo</td>
		</tr>
	
		<tr>
			 <td><%= noticia[0].id_noticia %></td>
				<td><%= noticia[0].titulo %></td>
				<td><%= noticia[0].noticia %></td>
		</tr>
	
	</table>


</body>
</html>